@use "modules/type-stack";
@use "modules/copyModule";
@use "modules/listModule";
@use "modules/nextProject";
@use "modules/footerModule";
@import "reset";
@import "typography";

// Colors
$background-color: black;

// Typography
$title-font: "Monument-Extended";
$title-font-size: 8.25vw;
$title-line-height: 0.8;

body {
  background-color: $background-color;
}

/* Remove the WP admin bar cos it's annoying  */
#wpadminbar {
  display: none;
}

@include copyModule.desktop;

/* GLOBAL CSS */
#overlay-menu .logo a {
  color: $background-color !important;
  transform: color !important;
  transition-timing-function: ease-out !important;
  transition: 0.4s !important;
}

#overlay-menu .hamburger span {
  background: $background-color !important;
  transform: background !important;
  transition-timing-function: ease-out !important;
  transition: 0.4s !important;
}

/*Hide Show Nav classes*/
.hideNav[style] {
  top: -120px !important;
  transform: translateY(0) !important;
  transition-timing-function: ease-out !important;
  transition: 0.4s !important;
}

.showNav[style] {
  top: 0 !important;
  transform: translateY(0%) !important;
  transition-timing-function: ease-in !important;
  transition: 0.7s !important;
}

/* Bouncing arrow animation / positioning */
.semplice-cover .show-more svg {
  animation: 1s arrow-down infinite alternate ease-in-out;
  margin-bottom: 44px;
}

@keyframes arrow-down {
  0% {
    transform: translateY(0);
    opacity: 0.2;
  }
  80% {
    transform: translateY(8px);
    opacity: 0.9;
  }
  100% {
    transform: translateY(8px);
    opacity: 1;
  }
}

/* Global Styles */

@include type-stack.desktop-type-stack;
// h1 {
//   line-height: $title-line-height !important;
// }

/* Workaround for Semplice's Menu */
// .logo ::after {
//   content: "\A Design Director";
//   white-space: pre;
// }

/* To help override values + flexbox from Semplice */
.navbar-right .menu {
  width: 33vw;
  flex-direction: column !important;
  height: fit-content !important;
}

.navbar-right .menu li{
  text-align:left;
}

a {
  text-decoration: none;
}

/* ----- Index Page ----- */

@include listModule.desktop;

.full-height {
  height: 25vh !important;
}

.right-align {
  text-align: right;
}

.title {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title,
.right-align {
  font-size: $title-font-size;
}

/* ----- Profile / About Page ----- */

.about-top-item{
  margin: 45vh 0 0 0;
}

/* ----- Next Project Module ----- */

@include nextProject.desktop;

/* ----- Project Page Styles ----- */
.cover_title {
  transform: rotate(-10deg);

  color: #ffffff;
  -webkit-text-fill-color: #ffffff;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: #ffffff;
  text-transform: uppercase;

  z-index: 100 !important;
}

/* Handles Project Cover Titles*/
.cover_title h1 span {
  font-size: $title-font-size;
}

.image-section {
  margin: 5vh 0 5vh 0!important;
}

.project-cover {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  align-items: center;
  margin-top: -100vh;
  margin-top: calc(var(--vh, 1vh) * -100);
  transition: 0.3s ease-in;
}

.show-first {
  opacity: 0;
  filter: invert(0.8);
}

.fade-in {
  opacity: 0.8;
  filter: invert(0);
  transition: 0.3s ease-in;
  transition-delay: 0.5s;
}

.project-image-container {
  position: relative;
  transform-origin: center center;
  transition: 0.3s ease-in;
}

.project-image {
  position: relative;
  z-index: 1;
  width: 75vw;
  background-blend-mode: multiply;
}

/*-----Marquee Movement-----*/
@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-3000vw);
  }
}

.cover_title span {
  animation: moveLeft 300s infinite;
  animation-timing-function: linear;
  white-space: nowrap;
  display: block;
  position: relative;
}

.current-menu-item::after{
  font-family: Arial, Helvetica, sans-serif !important;
  color:#FF0000;
  content:" ●" !important;
}

/* Back to Top  */
.back-to-top {
  transform: translate(20px, 20px);
}

.back-to-top svg {
  fill: #f6f6f6;
}

/* -------------------- Footer -------------------- */

@include footerModule.desktop;

.currentYear {
  color: white !important;
  font-family: "Common Sans";
  font-size: 20px;
  line-height: 1.1;
  text-align: left;
}

/* -------------------- Tablets -------------------- */

@import "tablet";

/* -------------------- Mobile -------------------- */

@import "mobile";
