@import "reset";
@import "typography";

// Colors
$background-color: black;

// Typography
$title-font: "Monument-Extended";
$title-font-size: 8.25vw;
$title-line-height: 0.9;

body {
  background-color: $background-color;
  font-family: $title-font;
}

/* Remove the WP admin bar cos it's annoying  */
#wpadminbar {
  display: none;
}

/* GLOBAL CSS */
#overlay-menu .logo a {
  color: $background-color !important;
  transform: color !important;
  transition-timing-function: ease-out !important;
  transition: 0.4s !important;
}

#overlay-menu .hamburger span {
  background: $background-color !important;
  transform: background !important;
  transition-timing-function: ease-out !important;
  transition: 0.4s !important;
}

/*Hide Show Nav classes*/
.hideNav[style] {
  top: -120px !important;
  transform: translateY(0) !important;
  transition-timing-function: ease-out !important;
  transition: 0.4s !important;
}

.showNav[style] {
  top: 0 !important;
  transform: translateY(0%) !important;
  transition-timing-function: ease-in !important;
  transition: 0.7s !important;
}

/* Bouncing arrow animation / positioning */
.semplice-cover .show-more svg {
  animation: 1s arrow-down infinite alternate ease-in-out;
  margin-bottom: 44px;
}

@keyframes arrow-down {
  0% {
    transform: translateY(0);
    opacity: 0.2;
  }
  80% {
    transform: translateY(8px);
    opacity: 0.9;
  }
  100% {
    transform: translateY(8px);
    opacity: 1;
  }
}

/* Global Styles */
h1 {
  line-height: $title-line-height !important;
}

/* Workaround for Semplice's Menu */
.logo ::after {
  content: "\A Design Director";
  white-space: pre;
}

.navItem-Index,
.navItem-About {
  width: 100px;
}

.navItem-Index a,
.navItem-About a {
  padding-right: 0 !important;
}

/* To help override values + flexbox from Semplice */
.navbar-right .menu {
  flex-direction: column !important;
  height: fit-content !important;
}

a {
  text-decoration: none;
}

/* ----- Index Page ----- */
.list {
  display: inline-block;
  margin-top: 33vh;
  margin-bottom: 50vh;

  width: 100%;
}

.full-height {
  height: 25vh !important;
}

.right-align {
  text-align: right;
}

.title {
  display: flex;
  flex-direction: row;
  // flex-basis: auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title,
.right-align {
  font-size: $title-font-size;
}

.list a {
  overflow: hidden;
  color: #ffffff;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
  text-transform: uppercase;
}

.list a:hover {
  color: #ffffff;
  -webkit-text-stroke-width: 0px;
  -webkit-text-fill-color: #ffffff;
  transition: -webkit-text-fill-color 0.5s;
}

.list a:hover img {
  opacity: 0.8;
}

/*   The animation settings in Semplice will adjust the placement of the image */
.list a img {
  opacity: 0;
  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75vw;
  /*   this will tell the browser to ignore any default mouse interactions on this img element */
  pointer-events: none;
  transition: opacity 0.2s;
}

.list span {
  position: relative;
  z-index: 1;
}

/* ----- Next Project Module ----- */
.next {
  margin-top: 50vh;
  margin-bottom: 25vh;
  display: inline-block;

  width: 100%;
}

.next a:hover {
  color: #ffffff;
  -webkit-text-stroke-width: 0px;
  -webkit-text-fill-color: #ffffff;
  transition: -webkit-text-fill-color 0.5s;
}

.next a {
  overflow: hidden;
  color: #ffffff;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
  text-transform: uppercase;
}

.next a:hover img {
  opacity: 0.8;
}

/*   The animation settings in Semplice will adjust the placement of the image */
.next a img {
  opacity: 0;
  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75vw;
  /*   this will tell the browser to ignore any default mouse interactions on this img element */
  pointer-events: none;
  transition: opacity 0.2s;
}

.next span {
  position: relative;
  z-index: 1;
}

.index-footer {
  margin-top: 20vh;
}

/* Project Page Styles */
.cover_title {
  transform: rotate(-10deg);

  color: #ffffff;
  -webkit-text-fill-color: #ffffff;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: #ffffff;
  text-transform: uppercase;

  z-index: 100 !important;
}

/* Handles Project Cover Titles*/
.cover_title h1 span {
  font-size: $title-font-size;
}

.image-section {
  margin-top: 5vh !important;
}

.info_section {
  margin-top: 15vh !important;
}

.project-cover {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  align-items: center;
  margin-top: -100vh;
  margin-top: calc(var(--vh, 1vh) * -100);
  transition: 0.3s ease-in;
}

.show-first {
  opacity: 0;
  filter: invert(0.8);
}

.fade-in {
  opacity: 0.8;
  filter: invert(0);
  transition: 0.3s ease-in;
  transition-delay: 0.5s;
}

.project-image-container {
  position: relative;
  transform-origin: center center;
  transition: 0.3s ease-in;
}

.project-image {
  position: relative;
  z-index: 1;
  width: 75vw;
  background-blend-mode: multiply;
}

/*-----Marquee Movement-----*/
@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-3000vw);
  }
}

.cover_title span {
  animation: moveLeft 300s infinite;
  animation-timing-function: linear;
  white-space: nowrap;
  display: block;
  position: relative;
}

/* Back to Top  */
.back-to-top {
  transform: translate(20px, 20px);
}

.back-to-top svg {
  fill: #f6f6f6;
}

/* -------------------- Footer -------------------- */

.currentYear::before {
  content: "©";
}

.currentYear {
  font-family: "Common";
  color: white;
  font-size: 16px;
  text-align: left;
}

/* -------------------- Tablets -------------------- */

@import "tablet";

/* -------------------- Mobile -------------------- */

@import "mobile";
