@use "modules/listModule";
@use "modules/copyModule";
@use "modules/nextProject";
@use "modules/footerModule";

/* ----------- Pixel ----------- */
/* Landscape */
@media screen 
  and (min-device-width: 731px) 
  and (max-device-width: 731px) 
  and (orientation: landscape) {
    @include listModule.mobile-landscape;
    @include nextProject.mobile-landscape-med;
}

/* ----------- Pixel 2 XL ----------- */
/* Landscape */
/* iPad 1,2 Landscape too*/
@media screen and (max-width: 823px) and (min-width: 411px) {
  
  @include copyModule.mobile;

  .navItem-Index {
    display: list-item;
  }

  .semplice-cover .show-more svg {
    margin-bottom: 0px;
  }

}

/* ----------- iPhone 6,7 and 8 PLUS ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (hover: none) {
  @include listModule.mobile-portrait;
  @include nextProject.mobile-portrait-med;
  @include footerModule.mobile;

  .navItem-Index {
    display: list-item;
  }

  /* Back to Top  */
  .back-to-top {
    transform: translate(26px, 20px);
  }

  .title,
  .right-align,
  .cover_title h1 span {
    font-size: 40px !important;
  }

  .semplice-cover .show-more svg {
    margin-bottom: 0px;
  }
}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  
  @include listModule.mobile-landscape;
  @include nextProject.mobile-landscape-med;
  @include copyModule.mobile;
  
  .list {
    margin-top: 48vh;
  }

  .list a h1{
    margin-bottom:10%;
  }
  
  .list a img {
    position: relative !important;
    opacity: 0.9;
    transform: translate(-50%, 0%);
  }

  /* Back to Top  */
  .back-to-top {
    transform: translate(26px, 18px);
  }

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (hover: none) {
  
  @include listModule.mobile-portrait;
  @include copyModule.mobile;
  @include nextProject.mobile-portrait-med;
  @include footerModule.mobile;

  /*Need to keep this to allow for the JS*/
  h1 {
    font-size: 40px !important;
  }

  .cover-title h1 span {
    font-size: 40px !important;
  }

  .title,
  .right-align {
    font-size: 40px !important;
  }

  .semplice-cover .show-more svg {
    margin-bottom: 0px;
  }

  /* Back to Top  */
  .back-to-top {
    transform: translate(32px, 20px);
  }

  .navItem-Index {
    display: list-item;
  }

}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

  @include nextProject.mobile-landscape-med;

  .list a h1{
    margin-bottom:10%;
  }

  .list a img {
    position: relative !important;
    opacity: 0.9;
    transform: translate(-50%, 0%);
  }

  /* Back to Top  */
  .back-to-top {
    transform: translate(26px, 14px);
  }

  .project-image {
    width: 70vw;
  }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (hover: none) {
 
  @include listModule.mobile-portrait;
  @include footerModule.mobile;

  h1 {
    font-size: 40px !important;
  }

  .title,
  .right-align {
    font-size: 40px !important;
  }

  .back-to-top {
    transform: translate(33px, 20px);
  }

  .semplice-cover .show-more svg {
    margin-bottom: 0px;
  }

  .navItem-Index {
    display: list-item;
  }
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  
  @include copyModule.mobile;
  @include nextProject.mobile-portrait-sm;

  .back-to-top {
    transform: translate(33px, 20px);
  }

}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  
  @include listModule.mobile-landscape;
  @include nextProject.mobile-landscape-sm;

  .back-to-top {
    transform: translate(26px, 16px);
  }

  .project-image {
    width: 75vw;
  }
}
