@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, iframe {
  vertical-align: bottom;
  max-width: 100%;
}

input, textarea, select {
  font: inherit;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Monument-Extended";
  src: url("fonts/monumentextended-ultrabold-webfont.woff2"), url("fonts/monumentextended-ultrabold-webfont.woff");
}
@font-face {
  font-family: "Common Sans";
  src: url("fonts/CommonSansWeb-Regular.woff2"), url("fonts/CommonSansWeb-Regular.woff");
}
body {
  background-color: black;
}

/* Remove the WP admin bar cos it's annoying  */
#wpadminbar {
  display: none;
}

.copy-module {
  margin: 0 1vh 0 1vh;
  height: fit-content;
  padding: 10vh 0 15vh 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  flex-basis: 33%;
}
.copy-module div {
  width: 33%;
  max-width: 33%;
  margin-bottom: 0 !important;
}
.copy-module .project-title {
  width: 100%;
  max-width: 100%;
}
.copy-module div .eyebrow {
  margin: 16px 0 0 0 !important;
  color: #5e5e61 !important;
}

/* GLOBAL CSS */
#overlay-menu .logo a {
  color: black !important;
  transform: color !important;
  transition-timing-function: ease-out !important;
  transition: 0.4s !important;
}

#overlay-menu .hamburger span {
  background: black !important;
  transform: background !important;
  transition-timing-function: ease-out !important;
  transition: 0.4s !important;
}

/*Hide Show Nav classes*/
.navbar-inner {
  height: calc(12%) !important;
  top: 0 !important;
  position: fixed !important;
  transition: transform 0.4s cubic-bezier(0.96, 0, 0.4, 1) !important;
}

.hideNav {
  transform: translateY(-100%) !important;
}

.showNav {
  transform: translateY(0%) !important;
}

/* Bouncing arrow animation / positioning */
.semplice-cover .show-more svg {
  animation: 1s arrow-down infinite alternate ease-in-out;
  margin-bottom: 44px;
}

@keyframes arrow-down {
  0% {
    transform: translateY(0);
    opacity: 0.2;
  }
  80% {
    transform: translateY(8px);
    opacity: 0.9;
  }
  100% {
    transform: translateY(8px);
    opacity: 1;
  }
}
/* Global Type Styles */
p {
  font-family: "Common Sans";
  font-size: 18px !important;
  line-height: 1.1 !important;
  letter-spacing: -0.05rem !important;
  text-align: left;
  color: white !important;
}

h1 {
  font-family: "Monument-Extended";
  font-size: 8.25vw !important;
  line-height: 0.8 !important;
}

a {
  font-family: "Common Sans";
  font-size: 18px !important;
  line-height: 1.1 !important;
  letter-spacing: -0.05rem !important;
  text-align: left;
  color: white !important;
  transition: color 0.5s ease-out !important;
}

a:hover {
  color: #ff5000 !important;
  transition: color 0.5s ease-out !important;
}

.logo a {
  mix-blend-mode: difference;
  height: fit-content !important;
  font-size: 2vw !important;
  line-height: 1 !important;
}

.logo a:hover {
  color: #ff5000 !important;
  transition: color 0.5s ease-out !important;
}

.logo ::after {
  content: "\a Design Director";
  white-space: pre;
}

.currentYear {
  font-family: "Common Sans";
  font-size: 18px !important;
  line-height: 1.1 !important;
  letter-spacing: -0.05rem !important;
  text-align: left;
  color: white !important;
}

/* To help override values + flexbox from Semplice */
.menu-icon {
  margin: 8px 0 0 0;
}

.navbar-right .menu {
  width: 33vw;
  height: fit-content !important;
  flex-direction: column !important;
  /* Firefox fix, seems to be fine in Chrome + Safari */
  justify-content: flex-start !important;
}

.navbar-right .menu li {
  text-align: left;
}

a {
  text-decoration: none;
}

/* ----- Index Page ----- */
#content-holder h1 {
  overflow: hidden;
}

.list {
  display: inline-block;
  margin: 45vh 0 0 0;
  padding: 0 0 30.5vh 0;
  width: 100%;
  /*   The animation settings in Semplice will adjust the placement of the image */
}
.list a {
  overflow: hidden;
  color: #ffffff;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
  text-transform: uppercase;
}
.list a:hover {
  color: #ffffff;
  -webkit-text-stroke-width: 0px;
  -webkit-text-fill-color: #ffffff;
  transition: -webkit-text-fill-color 0.5s;
}
.list a:hover img {
  filter: saturate(110%);
  opacity: 0.9;
}
.list a img {
  opacity: 0;
  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75vw;
  /*   this will tell the browser to ignore any default mouse interactions on this img element */
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.96, 0, 0.4, 1);
}
.list span {
  position: relative;
  z-index: 1;
}

.full-height {
  height: 25vh !important;
}

.right-align {
  text-align: right;
}

.title {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* ----- Profile / About Page ----- */
.about-top-item {
  margin: 45vh 0 0 0;
}

/* ----- Next Project Module ----- */
.next {
  height: 100vh !important;
  display: inline-block;
  width: 100%;
}
.next h1 {
  margin-top: 50vh !important;
}
.next a {
  overflow: hidden;
  color: #ffffff;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
  text-transform: uppercase;
}
.next a img {
  opacity: 0;
  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-20%, -50%);
  width: 65vw;
  /*   this will tell the browser to ignore any default mouse interactions on this img element */
  pointer-events: none;
  transition: opacity 0.2s;
}
.next a:hover {
  color: #ffffff;
  -webkit-text-stroke-width: 0px;
  -webkit-text-fill-color: #ffffff;
  transition: -webkit-text-fill-color 0.5s;
}
.next a:hover img {
  filter: saturate(110%);
  opacity: 0.9;
}
.next span {
  position: relative;
  z-index: 1;
}

/* ----- Project Page Styles ----- */
.cover_title {
  transform: rotate(-10deg);
  color: #ffffff;
  -webkit-text-fill-color: #ffffff;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: #ffffff;
  text-transform: uppercase;
  z-index: 100 !important;
}

/* Handles Project Cover Titles*/
.image-section {
  margin: 5vh 0 5vh 0 !important;
}

.project-cover {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  align-items: center;
  margin-top: -100vh;
  margin-top: calc(var(--vh, 1vh) * -100);
  transition: 0.3s ease-in;
}

.show-first {
  opacity: 0;
  filter: invert(0.8);
}

.fade-out {
  opacity: 0;
  transition: opacity 0s linear;
}

.title-fade-in {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.fade-in {
  opacity: 0.8;
  filter: invert(0);
  transition: opacity filter 0.3s ease-in;
}

.project-image-container {
  position: relative;
  transform-origin: center center;
  transition: 0.3s ease-in;
}

.project-image {
  position: relative;
  z-index: 1;
  width: 65vw;
  background-blend-mode: multiply;
}

/*-----Marquee Movement-----*/
@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-3000vw);
  }
}
.cover_title span {
  animation: moveLeft 300s infinite;
  animation-timing-function: linear;
  white-space: nowrap;
  display: block;
  position: relative;
}

.current-menu-item::after {
  font-family: Arial, Helvetica, sans-serif !important;
  color: #FF0000;
  content: " ●" !important;
}

/* Back to Top  */
.back-to-top {
  transform: translate(20px, 20px);
}

.back-to-top svg {
  fill: #f6f6f6;
}

/* -------------------- Footer -------------------- */
.footer-module {
  padding: 20vh 0 0 0;
  margin: 0 8px 8px 8px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  flex-basis: 33%;
}
.footer-module .timeStamp {
  width: 33%;
  max-width: 33%;
}
.footer-module .footer-links {
  display: flex;
  flex-direction: column;
  width: 66%;
  max-width: 66%;
}
.footer-module .footer-links a::after {
  font-family: Arial, Helvetica, sans-serif !important;
  content: " ●" !important;
}
.footer-module .attribution {
  width: 60%;
  max-width: 60%;
}

/* -------------------- Tablets -------------------- */
/*-- iPad 1,2 --*/
/* Portrait & Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (hover: none) {
  /* HOMEPAGE STYLE */
  .logo a {
    margin: 8px 0 0 0;
    font-size: 3.5vw !important;
  }

  .list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 44.7vh 0 0 0 !important;
  }
  .list a h1 {
    margin-bottom: 10%;
  }
  .list a img {
    filter: saturate(110%);
    position: relative !important;
    opacity: 0.9;
    transform: translate(-33%, 0%);
  }

  .copy-module {
    margin: 0 1vh 0 1vh;
    flex-direction: row;
    flex-basis: 50%;
  }
  .copy-module .spacer {
    display: none;
  }
  .copy-module div {
    width: 50%;
    max-width: 50%;
  }
  .copy-module .project-team {
    margin-left: 50%;
  }

  .next {
    margin: 0 0 0 0 !important;
    height: 70vh !important;
  }
  .next h1 {
    margin-top: 30vh !important;
  }
  .next a img {
    filter: saturate(110%);
    width: 75vw;
    position: relative !important;
    opacity: 0.9;
    transform: translate(-33%, 0%) !important;
  }

  .footer-module {
    flex-direction: row;
    flex-basis: 100%;
  }
  .footer-module .footer-links {
    padding: 0 0 8px 0;
    width: 50%;
    max-width: 50%;
  }
  .footer-module .timeStamp {
    padding: 0 0 8px 0;
    width: 50%;
    max-width: 50%;
  }
  .footer-module .attribution {
    width: 85%;
    max-width: 85%;
  }
}
/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .copy-module {
    margin: 0 1vh 0 1vh;
    flex-direction: row;
    flex-basis: 50%;
  }
  .copy-module .spacer {
    display: none;
  }
  .copy-module div {
    width: 50%;
    max-width: 50%;
  }
  .copy-module .project-team {
    margin-left: 50%;
  }

  .navItem-Index {
    display: list-item;
  }

  .current-menu-item::after {
    font-family: Arial, Helvetica, sans-serif !important;
    display: none;
  }
}
/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .semplice-cover .show-more svg {
    margin-bottom: 0px;
  }
}
/* ----------- iPad Pro ----------- */
/* Portrait */
/* Landscape */
/* ----------- iPad Pro 12.9" ----------- */
/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .logo a {
    margin: 8px 0 0 0;
    font-size: 3.5vw !important;
  }

  .list a h1 {
    margin-bottom: 10%;
  }
  .list a img {
    filter: saturate(110%);
    position: relative !important;
    opacity: 0.9;
    transform: translate(-33%, 0%);
  }

  .next a img {
    filter: saturate(110%);
    width: 75vw;
    position: relative !important;
    opacity: 0.9;
    transform: translate(-33%, 0%) !important;
  }
}
/* -------------------- Mobile -------------------- */
/* ----------- Pixel ----------- */
/* Landscape */
@media screen and (min-device-width: 731px) and (max-device-width: 731px) and (orientation: landscape) {
  .list a h1 {
    margin-bottom: 10%;
  }
  .list a img {
    filter: saturate(110%);
    position: relative !important;
    opacity: 0.9;
    transform: translate(-33%, 0%);
  }

  .next a img {
    filter: saturate(110%);
    width: 75vw;
    position: relative !important;
    opacity: 0.9;
    transform: translate(-33%, 0%) !important;
  }
}
/* ----------- Pixel 2 XL ----------- */
/* Portrait */
/* iPad 1,2 Landscape too*/
@media only screen and (max-device-width: 411px) and (min-device-width: 411px) and (orientation: portrait) {
  .copy-module {
    margin: 0 8px 0 8px;
    flex-direction: column;
    flex-basis: 100%;
  }
  .copy-module div {
    width: 100%;
    max-width: 100%;
  }
  .copy-module .spacer {
    display: none;
  }
  .copy-module .project-team {
    margin-left: 0;
    width: 88%;
    max-width: 88%;
  }

  .navItem-Index {
    display: list-item;
  }

  .current-menu-item::after {
    font-family: Arial, Helvetica, sans-serif !important;
    display: none;
  }

  .semplice-cover .show-more svg {
    margin-bottom: 0px;
  }
}
/* Landscape */
@media only screen and (max-device-width: 731px) and (min-device-width: 731px) and (orientation: landscape) {
  .navItem-Index {
    display: list-item;
  }

  .current-menu-item::after {
    font-family: Arial, Helvetica, sans-serif !important;
    display: none;
  }

  .copy-module {
    margin: 0 8px 0 8px;
    flex-direction: column;
    flex-basis: 100%;
  }
  .copy-module div {
    width: 100%;
    max-width: 100%;
  }
  .copy-module .spacer {
    display: none;
  }
  .copy-module .project-team {
    margin-left: 0;
    width: 88%;
    max-width: 88%;
  }

  .next a img {
    filter: saturate(110%);
    width: 75vw;
    position: relative !important;
    opacity: 0.9;
    transform: translate(-33%, 0%) !important;
  }

  .semplice-cover .show-more svg {
    margin-bottom: 0px;
  }
}
/* ----------- iPhone 6,7 and 8 PLUS ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (hover: none) {
  .navItem-Index {
    display: list-item;
  }

  .current-menu-item::after {
    font-family: Arial, Helvetica, sans-serif !important;
    display: none;
  }

  .logo a {
    margin: 8px 0 0 0;
    font-size: 9vw !important;
  }

  h1 {
    font-size: 40px !important;
  }

  .list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 44.7vh 0 0 0;
  }
  .list a h1 {
    margin-bottom: 10%;
  }
  .list a img {
    filter: saturate(110%);
    position: relative !important;
    opacity: 0.9;
    transform: translate(-33%, 0%);
  }

  .next {
    height: 80vh !important;
    margin-top: 0vh !important;
  }
  .next h1 {
    margin-top: 40vh !important;
  }
  .next a img {
    filter: saturate(110%);
    width: 75vw;
    position: relative !important;
    opacity: 0.9;
    transform: translate(-33%, 0%) !important;
  }

  .footer-module {
    padding: 0 0 8px 0;
    flex-direction: column;
    flex-basis: 100%;
  }
  .footer-module .footer-links {
    flex-direction: row;
    padding: 0 0 8px 0;
    width: 100%;
    max-width: 100%;
  }
  .footer-module .footer-links a:last-child {
    padding-left: 8px;
  }
  .footer-module .timeStamp {
    padding: 0 0 8px 0;
    width: 85%;
    max-width: 85%;
  }
  .footer-module .attribution {
    line-height: 1.1 !important;
    width: 100%;
    max-width: 100%;
  }
  .footer-module .attribution p {
    font-size: 16px !important;
  }

  /* Back to Top  */
  .back-to-top {
    transform: translate(26px, 20px);
  }

  .semplice-cover .show-more svg {
    margin-bottom: 0px;
  }
}
/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .navItem-Index {
    display: list-item;
  }

  .current-menu-item::after {
    font-family: Arial, Helvetica, sans-serif !important;
    display: none;
  }

  .list a h1 {
    margin-bottom: 10%;
  }
  .list a img {
    filter: saturate(110%);
    position: relative !important;
    opacity: 0.9;
    transform: translate(-33%, 0%);
  }

  .next a img {
    filter: saturate(110%);
    width: 75vw;
    position: relative !important;
    opacity: 0.9;
    transform: translate(-33%, 0%) !important;
  }

  .copy-module {
    margin: 0 8px 0 8px;
    flex-direction: column;
    flex-basis: 100%;
  }
  .copy-module div {
    width: 100%;
    max-width: 100%;
  }
  .copy-module .spacer {
    display: none;
  }
  .copy-module .project-team {
    margin-left: 0;
    width: 88%;
    max-width: 88%;
  }

  .logo a {
    margin: 8px 0 0 0;
    font-size: 3.5vw !important;
  }

  /* Back to Top  */
  .back-to-top {
    transform: translate(26px, 18px);
  }
}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (hover: none) {
  .navItem-Index {
    display: list-item;
  }

  .current-menu-item::after {
    font-family: Arial, Helvetica, sans-serif !important;
    display: none;
  }

  .logo a {
    margin: 8px 0 0 0;
    font-size: 9vw !important;
  }

  h1 {
    font-size: 40px !important;
  }

  .list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 44.7vh 0 0 0;
  }
  .list a h1 {
    margin-bottom: 10%;
  }
  .list a img {
    filter: saturate(110%);
    position: relative !important;
    opacity: 0.9;
    transform: translate(-33%, 0%);
  }

  .copy-module {
    margin: 0 8px 0 8px;
    flex-direction: column;
    flex-basis: 100%;
  }
  .copy-module div {
    width: 100%;
    max-width: 100%;
  }
  .copy-module .spacer {
    display: none;
  }
  .copy-module .project-team {
    margin-left: 0;
    width: 88%;
    max-width: 88%;
  }

  .next {
    height: 80vh !important;
    margin-top: 0vh !important;
  }
  .next h1 {
    margin-top: 40vh !important;
  }
  .next a img {
    filter: saturate(110%);
    width: 75vw;
    position: relative !important;
    opacity: 0.9;
    transform: translate(-33%, 0%) !important;
  }

  .footer-module {
    padding: 0 0 8px 0;
    flex-direction: column;
    flex-basis: 100%;
  }
  .footer-module .footer-links {
    flex-direction: row;
    padding: 0 0 8px 0;
    width: 100%;
    max-width: 100%;
  }
  .footer-module .footer-links a:last-child {
    padding-left: 8px;
  }
  .footer-module .timeStamp {
    padding: 0 0 8px 0;
    width: 85%;
    max-width: 85%;
  }
  .footer-module .attribution {
    line-height: 1.1 !important;
    width: 100%;
    max-width: 100%;
  }
  .footer-module .attribution p {
    font-size: 16px !important;
  }

  .semplice-cover .show-more svg {
    margin-bottom: 0px;
  }

  /* Back to Top  */
  .back-to-top {
    transform: translate(32px, 20px);
  }
}
/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .navItem-Index {
    display: list-item;
  }

  .current-menu-item::after {
    font-family: Arial, Helvetica, sans-serif !important;
    display: none;
  }

  .list a h1 {
    margin-bottom: 10%;
  }
  .list a img {
    filter: saturate(110%);
    position: relative !important;
    opacity: 0.9;
    transform: translate(-33%, 0%);
  }

  .next a img {
    filter: saturate(110%);
    width: 75vw;
    position: relative !important;
    opacity: 0.9;
    transform: translate(-33%, 0%) !important;
  }

  .logo a {
    margin: 8px 0 0 0;
    font-size: 3.5vw !important;
  }

  /* Back to Top  */
  .back-to-top {
    transform: translate(26px, 14px);
  }

  .project-image {
    width: 70vw;
  }
}
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (hover: none) {
  .navItem-Index {
    display: list-item;
  }

  .current-menu-item::after {
    font-family: Arial, Helvetica, sans-serif !important;
    display: none;
  }

  .logo a {
    margin: 8px 0 0 0;
    font-size: 9vw !important;
  }

  h1 {
    font-size: 40px !important;
  }

  .list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 44.7vh 0 0 0;
  }
  .list a h1 {
    margin-bottom: 10%;
  }
  .list a img {
    filter: saturate(110%);
    position: relative !important;
    opacity: 0.9;
    transform: translate(-33%, 0%);
  }

  .footer-module {
    padding: 0 0 8px 0;
    flex-direction: column;
    flex-basis: 100%;
  }
  .footer-module .footer-links {
    flex-direction: row;
    padding: 0 0 8px 0;
    width: 100%;
    max-width: 100%;
  }
  .footer-module .footer-links a:last-child {
    padding-left: 8px;
  }
  .footer-module .timeStamp {
    padding: 0 0 8px 0;
    width: 85%;
    max-width: 85%;
  }
  .footer-module .attribution {
    line-height: 1.1 !important;
    width: 100%;
    max-width: 100%;
  }
  .footer-module .attribution p {
    font-size: 16px !important;
  }

  .back-to-top {
    transform: translate(33px, 20px);
  }

  .semplice-cover .show-more svg {
    margin-bottom: 0px;
  }
}
/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .copy-module {
    margin: 0 8px 0 8px;
    flex-direction: column;
    flex-basis: 100%;
  }
  .copy-module div {
    width: 100%;
    max-width: 100%;
  }
  .copy-module .spacer {
    display: none;
  }
  .copy-module .project-team {
    margin-left: 0;
    width: 88%;
    max-width: 88%;
  }

  .next {
    height: 80vh !important;
    margin-top: 0vh !important;
  }
  .next h1 {
    margin-top: 20vh !important;
  }
  .next a img {
    filter: saturate(110%);
    width: 75vw;
    position: relative !important;
    opacity: 0.9;
    transform: translate(-33%, 0%) !important;
  }

  .back-to-top {
    transform: translate(33px, 20px);
  }
}
/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .list a h1 {
    margin-bottom: 10%;
  }
  .list a img {
    filter: saturate(110%);
    position: relative !important;
    opacity: 0.9;
    transform: translate(-33%, 0%);
  }

  .next a img {
    filter: saturate(110%);
    width: 75vw;
    position: relative !important;
    opacity: 0.9;
    transform: translate(-33%, 0%) !important;
  }

  .logo a {
    margin: 8px 0 0 0;
    font-size: 3.5vw !important;
  }

  .back-to-top {
    transform: translate(26px, 16px);
  }

  .project-image {
    width: 75vw;
  }
}

/*# sourceMappingURL=master.css.map */
