@mixin orange{
    color:#ff5000 !important;
}

@mixin black{
    color:#0c0f0d !important;
}

@mixin text-stroke{
    -webkit-text-stroke-color: #ff5000;
}

@mixin text-fill{
    -webkit-text-fill-color: #ff5000;
}

@mixin white{
    color:white;
}