@mixin orange {
  color: #f08700 !important;
}

@mixin black {
  color: #0c0f0d !important;
}

@mixin white {
  color: white !important;
}

@mixin grey {
  color: #5e5e61 !important;
}

@mixin text-stroke {
  -webkit-text-stroke-color: #f08700;
}

@mixin text-fill {
  -webkit-text-fill-color: #f08700;
}