@mixin desktop {
  .footer-module {
    padding: 20vh 0 0 0;
    margin: 0 8px 8px 8px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    flex-basis: 33%;

    .timeStamp {
      width: 33%;
      max-width: 33%;
    }

    .footer-links {
      display: flex;
      flex-direction: column;
      width: 66%;
      max-width: 66%;
    }

    .footer-links a::after {
      font-family: Arial, Helvetica, sans-serif !important;
      content: " ●" !important;
    }

    .attribution {
      width: 60%;
      max-width: 60%;
    }
  }
}

@mixin tablet {
  .footer-module {
    flex-direction: row;
    flex-basis: 100%;

    .footer-links {
      padding: 0 0 8px 0;
      width: 50%;
      max-width: 50%;
    }

    .timeStamp {
      padding: 0 0 8px 0;
      width: 50%;
      max-width: 50%;
    }

    .attribution {
      width: 85%;
      max-width: 85%;
    }
  }
}

@mixin mobile {
  .footer-module {
    padding: 0 0 8px 0;
    flex-direction: column;
    flex-basis: 100%;

    .footer-links {
      flex-direction: row;
      padding: 0 0 8px 0;
      width: 100%;
      max-width: 100%;
      
    }

    .footer-links a:last-child {
      padding-left: 8px;
    }

    .timeStamp {
      padding: 0 0 8px 0;
      width: 85%;
      max-width: 85%;
    }

    .attribution {
      line-height: 1.1 !important;
      width: 100%;
      max-width: 100%;
    }

    .attribution p {
      font-size: 16px !important;
    }
  }
}
