@mixin img-settings {
  a h1 {
    margin-bottom: 10%;
  }

  a img {
    filter: saturate(110%);
    position: relative !important;
    opacity: 0.9;
    transform: translate(-50%, 0%);
  }
}

@mixin desktop {
  .list {
    display: inline-block;
    margin: 45vh 0 0 0;
    padding: 0 0 30vh 0;
    width: 100%;

    a {
      overflow: hidden;
      color: #ffffff;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #ffffff;
      text-transform: uppercase;
    }

    a:hover {
      color: #ffffff;
      -webkit-text-stroke-width: 0px;
      -webkit-text-fill-color: #ffffff;
      transition: -webkit-text-fill-color 0.5s;
    }

    a:hover img {
      filter: saturate(110%);
      opacity: 0.9;
    }

    /*   The animation settings in Semplice will adjust the placement of the image */
    a img {
      opacity: 0;
      position: fixed !important;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 75vw;
      /*   this will tell the browser to ignore any default mouse interactions on this img element */
      pointer-events: none;
      transition: opacity 0.2s;
    }

    span {
      position: relative;
      z-index: 1;
    }
  }
}

@mixin tablet-portrait {
  .list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 44.7vh 0 0 0 !important;

    @include img-settings;
  }
}

@mixin tablet-landscape {
  .list {
    @include img-settings;
  }
}

@mixin mobile-portrait {
  .list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 44.7vh 0 0 0;

    @include img-settings;
  }
}

@mixin mobile-landscape {

  .list {
    // margin-top: 48vh;

    @include img-settings;
  }

}
