@use 'breakpoints' as bp;

@mixin projectVideo {

  // Desktop styles by default
  // Square container for project video / video preloader
  .project-image-container {
    aspect-ratio: 1 / 1;
    width: 49vw;
    height: 49vw;
    position: relative;
    transform-origin: center center;
    transition: opacity 0.3s ease-in;

    background-color: rgb(0 0 0 / 0);
  }

  .video-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .loading-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: left;
    padding: 10px;

    opacity: 1;
    transition: opacity 0.8s ease-in-out;

    /* Generic placeholder immediately visible */
    background-image: url('https://andycatch.com/proto/wp-content/uploads/2025/03/ProfileImgPreload.png');
  }

  /* The class on the video tag itself */
  .video-project-square {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 0;
    /* Initially hidden */
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    background-size: cover;
    background-image: url('https://andycatch.com/proto/wp-content/uploads/2025/03/ProfileImgPreload.png');
  }

  // Handled / added by JS single-project.js > lazyLoadHandler()
  .video-project-square.fade-in {
    opacity: 1;
    transform: translateY(0);
  }

  /* Hide overlay after fade-out */
  // Handled / added by JS single-project.js > lazyLoadHandler()
  .hidden {
    display: none !important;
  }

  .loading-text {
    position: absolute;
    bottom: 0px;
    /* Adjust distance from bottom */
    left: 44px;
    /* Adjust distance from left */
    color: var(--light);
    font-size: var(--display-size);
    font-family: var(--untitled-reg) !important;
  }

  @include bp.down(md) {
    .project-image-container {
      width: 70vw;
      height: 70vw;
    }
  }

  @include bp.down(sm) {
    .project-image-container {
      width: calc(100vw - 32px);
      height: calc(100vw - 32px);
    }
  }
}