@mixin desktop {
	.social-links {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;

		position: relative;

		/* top | right | bottom | left */
		width: 100%;
		margin: 0 0 0 0;
		// margin: 35vh 0 0 0;

		a {
			// aspect-ratio: 1 / 1;
			display: flex;
			flex-direction: row;
			align-items: center;
			text-align: center;
			justify-content: center;
			width: calc(var(--unit) * 6);
			font-family: var(--untitled-reg) !important;
			margin-right: var(--half-unit);
			padding: 0px var(--unit) 0px var(--unit);
			border-style: solid;
			border-radius: var(--four-units);
			color: var(--light) !important;
			background-color: var(--black);
			transition: all 0.2s ease-in !important;
		}

		a:hover {
			color: var(--black) !important;
			background-color: var(--light);
		}

		a:hover::after {
			color: var(--white);
			transition: all 0.2s ease-in !important;
		}
	}

	.social-links a:nth-child(1) {
		margin-left: var(--three-units);
	}
}

@mixin tablet {
	.social-links {
		justify-content: flex-start;

		:nth-child(1) {
			padding: 0 var(--unit) 0 0;
		}

		a {
			padding: 0 var(--unit) 0 var(--unit);
		}
	}
}

@mixin mobile {
	.social-links {
		flex-direction: row;
		padding-bottom: 0;
		align-items: flex-start;
		margin-top: 35vh;

		a {
			margin-bottom: var(--unit);
			margin-right: var(--unit);
		}
	}

	.social-links a:nth-child(1) {
		margin-left: 0;
	}
}