@use 'modules/type-stack';
@use 'modules/project';
@use 'modules/homeBranding';
@use 'modules/letterBackground';
@use 'modules/homeCopy';
@use 'modules/navigation';
@use 'modules/about';
// @use 'modules/workIndex';
@use 'modules/listModule';
// @use 'modules/nextProject';
@use 'modules/footer';
@use 'modules/socialLinks';
@use 'modules/sempliceHelpers';
@use 'modules/homeCanvas';
@import 'reset';
@import 'designTokens';

html,
body {
	background-color: var(--black);

	::-moz-selection {
		/* Code for Firefox */
		color: var(--black);
		background: var(--light);
	}

	::selection {
		color: var(--black);
		background: var(--light);
	}
}

body {
	overflow-y: inherit !important;
}

/* Remove the WP admin bar cos it's annoying  */
#wpadminbar {
	display: none;
}

/* Global Type Styles */
@include type-stack.type-stack;

/* ----- Semplice specific ----- */
@include sempliceHelpers.sempliceHelpers;

/* Navigation */
@include navigation.navigation;

/* Footer */
@include footer.footer;

/* Social links */
@include socialLinks.socialLinks;

/* Letters */
@include letterBackground.letterBackground;

/* Branding */
@include homeBranding.homeBranding;

/* About */
@include about.about;

/* Home GLSL Canvas */
@include homeCanvas.homeCanvas;

/* Home Copy Module */
@include homeCopy.homeCopy;

/* ----- List Module ----- */
@include listModule.listModule;

/* ----- Project ----- */
@include project.project;

/* GLOBAL CSS */
.disableScroll {
	margin: 0;
	height: 100%;
	overflow: hidden !important;
	overflow-y: hidden !important;
}

.fullOpacity {
	opacity: 1;
}

.zeroOpacity {
	opacity: 0;
}