@use 'modules/type-stack';
@use 'modules/project';
@use 'modules/homeBranding';
@use 'modules/letterBackground';
@use 'modules/homeCopy';
@use 'modules/navigation';
@use 'modules/about';
@use 'modules/workIndex';
@use 'modules/listModule';
@use 'modules/nextProject';
@use 'modules/footer';
@use 'modules/socialLinks';
@use 'modules/sempliceHelpers';
@use 'modules/homeCanvas';
@import 'reset';
@import 'designTokens';

html,
body {
	background-color: var(--black);

	::-moz-selection {
		/* Code for Firefox */
		color: var(--black);
		background: var(--light);
	}

	::selection {
		color: var(--black);
		background: var(--light);
	}
}

body {
	overflow-y: inherit !important;
}

/* Remove the WP admin bar cos it's annoying  */
#wpadminbar {
	display: none;
}

/* Global Type Styles */
@include type-stack.desktop-type-stack;

/* ----- Semplice specific ----- */
@include sempliceHelpers.desktop;

/* Navigation */
@include navigation.desktop;

/* Footer */
@include footer.desktop;

/* Social links */
@include socialLinks.desktop;

/* Letters */
@include letterBackground.desktop;

/* Branding */
@include homeBranding.desktop;

/* About */
@include about.desktop;

/* Work Index */
@include workIndex.desktop;

/* Home GLSL Canvas */
@include homeCanvas.desktop;

/* Home Copy Module */
@include homeCopy.desktop;

/* ----- List Module ----- */
@include listModule.desktop;

/* ----- Project ----- */
@include project.desktop;

/* GLOBAL CSS */
.disableScroll {
	margin: 0;
	height: 100%;
	overflow: hidden !important;
	overflow-y: hidden !important;
}

.fullOpacity {
	opacity: 1;
}

.zeroOpacity {
	opacity: 0;
}

/* -------------------- Tablets -------------------- */

@import 'tablet';

/* -------------------- Mobile --------------------- */

@import 'mobile';
