@use "modules/type-stack";
@use "modules/homeBranding";
@use "modules/letterBackground";
@use "modules/homeCopy";
@use "modules/navigation";
@use "modules/copyModule";
@use "modules/listModule";
@use "modules/nextProject";
@use "modules/footer"; // New New
@use "modules/footerModule"; // Old one
@use "modules/socialLinks"; // New New
@import 'reset';
@import 'designTokens';

html,
body {
  background-color: var(--background);

  ::-moz-selection {
    /* Code for Firefox */
    color: var(--purple);
    background: var(--dark-blue);
  }

  ::selection {
    color: var(--purple);
    background: var(--dark-blue);
  }
}

/* Remove the WP admin bar cos it's annoying  */
#wpadminbar {
  display: none;
}

/* Global Type Styles */
@include type-stack.desktop-type-stack;

/* Footer */
@include footer.desktop;

/* Social links */
@include socialLinks.desktop;

/* Letters */
@include letterBackground.desktop;

/* Branding */
@include homeBranding.desktop;

/* Home Copy Module */
@include homeCopy.desktop;

/* Copy Module */
@include copyModule.desktop;

/* Navigation */
@include navigation.desktop;

/* ----- List Module ----- */
@include listModule.desktop;

/* GLOBAL CSS */
#overlay-menu .logo a {
  color: var(--background) !important;
  transform: color !important;
  transition-timing-function: ease-out !important;
  transition: 0.4s !important;
}

#overlay-menu .hamburger span {
  background: var(--background) !important;
  transform: background !important;
  transition-timing-function: ease-out !important;
  transition: 0.4s !important;
}

/* Bouncing arrow animation / positioning */
.semplice-cover .show-more svg {
  animation: 1s arrow-down infinite alternate ease-in-out;
  margin-bottom: 44px;
}

@keyframes arrow-down {
  0% {
    transform: translateY(0);
    opacity: 0.2;
  }

  80% {
    transform: translateY(8px);
    opacity: 0.9;
  }

  100% {
    transform: translateY(8px);
    opacity: 1;
  }
}

/* ----- Profile / About Page ----- */

.about-top-item {
  margin: 45vh 0 0 0;
}

/* ----- Next Project Module ----- */

@include nextProject.desktop;

/* ----- Project Page Styles ----- */
.cover_title {
  transform: rotate(-10deg);

  color: var(--white);
  -webkit-text-fill-color: var(--white);
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: var(--white);
  text-transform: uppercase;

  z-index: 100 !important;
}

/* Handles Project Cover Titles*/

.image-section {
  margin: 5vh 0 5vh 0 !important;
}

.project-cover {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  align-items: center;
  margin-top: -100vh;
  margin-top: calc(var(--vh, 1vh) * -100);
  transition: 0.3s ease-in;
}

.show-first {
  opacity: 0;
  filter: invert(0.8);
}

.fade-out {
  opacity: 0;
  transition: opacity 0s linear;
}

.title-fade-in {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.fade-in {
  opacity: 0.8;
  filter: invert(0);
  transition: all 0.3s ease-in;
}

.project-image-container {
  position: relative;
  transform-origin: center center;
  transition: 0.3s ease-in;
}

.project-image {
  position: relative;
  z-index: 1;
  width: 75vw;
  background-blend-mode: multiply;
}

/*-----Marquee Movement-----*/
@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-3000vw);
  }
}

.cover_title span {
  animation: moveLeft 300s infinite;
  animation-timing-function: linear;
  white-space: nowrap;
  display: block;
  position: relative;
}

/* Back to Top  */
.back-to-top {
  transform: translate(20px, 20px);
}

.back-to-top svg {
  fill: #f6f6f6;
}

/* -------------------- Footer -------------------- */

@include footerModule.desktop;

/* -------------------- Tablets -------------------- */

@import 'tablet';

/* -------------------- Mobile -------------------- */

@import 'mobile';
