@use "modules/type-stack";
@use "modules/homeBranding";
@use "modules/letterBackground";
@use "modules/homeCopy";
@use "modules/navigation";
@use "modules/about";
@use "modules/workIndex";
@use "modules/copyModule";
@use "modules/listModule";
@use "modules/nextProject";
@use "modules/footer";
@use "modules/socialLinks";
@use "modules/sempliceHelpers";
@import 'reset';
@import 'typography';
@import 'designTokens';

html,
body {
  background-color: var(--black);

  ::-moz-selection {
    /* Code for Firefox */
    color: var(--purple);
    background: var(--dark-blue);
  }

  ::selection {
    color: var(--purple);
    background: var(--dark-blue);
  }
}

/* Remove the WP admin bar cos it's annoying  */
#wpadminbar {
  display: none;
}

/* Global Type Styles */
@include type-stack.desktop-type-stack;

/* ----- Semplice specific ----- */
@include sempliceHelpers.desktop;

/* Navigation */
@include navigation.desktop;

/* Footer */
@include footer.desktop;

/* Social links */
@include socialLinks.desktop;

/* Letters */
@include letterBackground.desktop;

/* Branding */
@include homeBranding.desktop;

/* About */
@include about.desktop;

/* Work Index */
@include workIndex.desktop;

/* Home Copy Module */
@include homeCopy.desktop;

/* Copy Module */
@include copyModule.desktop;

/* ----- List Module ----- */
@include listModule.desktop;

/* GLOBAL CSS */
.disableScroll {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.fullOpacity {
  opacity: 1;
}

.zeroOpacity {
  opacity: 0;
}

/* ----- Project Page Styles ----- */
.cover_title {
  transform: rotate(-10deg);

  color: var(--white);
  -webkit-text-fill-color: var(--white);
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: var(--white);
  text-transform: uppercase;

  z-index: 100 !important;
}

/* Handles Project Cover Titles */

.image-section {
  margin: 5vh 0 5vh 0 !important;
}

.project-cover {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  align-items: center;
  margin-top: -100vh;
  margin-top: calc(var(--vh, 1vh) * -100);
  transition: 0.3s ease-in;
}

.show-first {
  opacity: 0;
  filter: invert(0.8);
}

.fade-out {
  opacity: 0;
  transition: opacity 0s linear;
}

.title-fade-in {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.fade-in {
  opacity: 0.8;
  filter: invert(0);
  transition: all 0.3s ease-in;
}

.project-image-container {
  position: relative;
  transform-origin: center center;
  transition: 0.3s ease-in;
}

.project-image {
  position: relative;
  z-index: 1;
  width: 75vw;
  background-blend-mode: multiply;
}

/*-----Marquee Movement-----*/
@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-3000vw);
  }
}

.cover_title span {
  animation: moveLeft 300s infinite;
  animation-timing-function: linear;
  white-space: nowrap;
  display: block;
  position: relative;
}

/* -------------------- Tablets -------------------- */

@import 'tablet';

/* -------------------- Mobile -------------------- */

@import 'mobile';
