:root {
  /* Colors */
  --white: #f0fff0 !important;
  --black: #232c26 !important; /* Dusty Black */
  --purple: #9c94e7 !important; /* Footer Clock */
  --orange: #ff4848 !important; /* PDP Text */
  --red: #c92100 !important;
  --dark-grey: #5e5e61 !important; /* Copy Headlines */
  --dark-blue: #1e176a; /* Selected text */

  --background: var(--black);

  /* Type */
  --beastly: 'Beastly-72_Point';
  --untitled-reg: 'untitled-sans-web-regular';
  --untitled-ita: 'untitled-sans-web-regular-italic';

  /* Type Sizes */
  --display-size: 17.2vw; /* Converted from 220px@1440px W*/
  --display-line: 0.8;
  --display-stroke-w: 2px;

  --display-size-tablet: 24vw;

  --clock-size: 15vw;
  --clock-line: 0.9;

  --clock-size-tablet: 20vw;

  --subHead-size: 5.556vw; /* Converted to vw from 80px@1440 W*/
  --subHead-line: 1;

  --subHead-size-tablet: 8vw;

  --nav-size: 28px;
  --nav-line: 1;

  --body-size: 18px;
  --body-line: 1.2;

  /* Spacing */
  --half-unit: 4px;
  --unit: 8px;
  --two-units: calc(var(--unit) * 2); /* 16px */
  --three-units: calc(var(--unit) * 3); /* 24px */
  --four-units: calc(var(--unit) * 4); /* 32px */
  --eight-units: calc(var(--unit) * 8); /* 64px */
}
