:root {
	/* Colors */
	--white: #f0fff0 !important;
	--pink: #ff8f8f !important;
	--image-black: #121714 !important;
	--black: #040101 !important; /* Deep Black */
	/* --black: #232c26 !important; Dusty Black */
	--terracotta: #c46a5a !important;

	--background: var(--black);

	/* Type */
	--beastly: 'Beastly-72_Point';
	--untitled-reg: 'untitled-sans-web-regular';
	--untitled-ita: 'untitled-sans-web-regular-italic';

	/* Spacing */
	--unit: 8px;
	--half-unit: calc(var(--unit) / 2); /* 4px */
	--two-units: calc(var(--unit) * 2); /* 16px */
	--three-units: calc(var(--unit) * 3); /* 24px */
	--four-units: calc(var(--unit) * 4); /* 32px */
	--five-units: calc(var(--unit) * 5); /* 40px */
	--eight-units: calc(var(--unit) * 8); /* 64px */

	/* Type Sizes */
	--display-size: 14vw; /* Converted from 220px@1440px W*/
	--display-line: 0.45;
	--display-stroke-w: 2px;
	--display-size-tablet: 24vw;
	--display-size-mobile: 96px;
	--clock-size: calc(var(--display-size) * 0.6);
	--clock-line: 0.9;
	--clock-size-tablet: 20vw;
	--clock-size-mobile: var(--eight-units);
	--subHead-size: 9vw; /* Converted to vw from 80px@1440 W*/
	--subHead-line: 1;
	--subHead-size-tablet: 8vw;
	--subHead-size-mobile: calc(var(--unit) * 6);
	--project-display: 4vw;
	--project-display-tablet: 7vw;
	--project-display-mobile: calc(var(--unit) * 3.5);
	--project-letterSpace: -6px;
	--project-letterSpace-mobile: -2px;
	--project-display-line: 0.98;
	--nav-size: var(--three-units);
	--nav-line: 1;
	--body-size: var(--three-units);
	--body-size-m: calc(var(--unit) * 2.5);
	--body-line: 1.2;
	--hover-size: var(--four-units);
	--caption-size: var(--two-units);
	--micro-size: calc(var(--unit) * 1.5);
}
