@use "modules/type-stack";
@use "modules/copyModule";
@use "modules/nextProject";
@use "modules/listModule";
@use "modules/homeBranding";
@use "modules/workIndex";
@use "modules/letterBackground";
@use "modules/socialLinks";
@use "modules/footer";

@mixin navItem-exceptions-tablet {
  .navItem-Index {
    display: list-item;
  }

  // Clears the little dot
  .current-menu-item::after {
    font-family: Arial, Helvetica, sans-serif !important;
    display: none;
  }
}

/*-- iPad 1,2 --*/
/* Portrait & Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (hover: none) {
  /* HOMEPAGE STYLE */

  @include type-stack.tablet-type-stack;
  @include listModule.tablet-portrait;
  @include copyModule.tablet-portait;
  @include nextProject.tablet-portrait;
  @include homeBranding.tablet;
  @include letterBackground.tablet;
  @include workIndex.tablet;
  @include socialLinks.tablet;
  @include footer.tablet;
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  @include copyModule.tablet-portait;
  @include navItem-exceptions-tablet;
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .semplice-cover .show-more svg {
    margin-bottom: 0px;
  }
}

/* ----------- iPad Pro ----------- */
/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
}

/* ----------- iPad Pro 12.9" ----------- */
/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  @include type-stack.tablet-type-stack;
  @include listModule.tablet-landscape;
  @include nextProject.mobile-landscape-med;
  @include homeBranding.tablet;
  @include letterBackground.tablet;
  @include workIndex.tablet;
  @include socialLinks.tablet;
  @include footer.tablet;
}
