@font-face {
  font-family: 'Common Sans';
  src: url('/fonts/CommonSansWeb-Regular.woff2'),
    url('/fonts/CommonSansWeb-Regular.woff');
}

@font-face {
  font-family: 'Beastly72';
  src: url('/fonts/Beastly-72_Point.woff2'), url('/fonts/Beastly-72_Point.woff');
}
