@use 'layoutUtils';

@mixin desktop {
	.about {
		display: flex;
		flex-direction: column;
		// margin-bottom: 12vh;

		p,
		ul {
			z-index: 2;
		}
	}

	.about-content {
		@include layoutUtils.desktop-grid;
		margin-top: 35vh;
	}

	.experience,
	.awards {
		@include layoutUtils.desktop-grid;
		margin-top: var(--eight-units);
	}

	.experience {
		margin-top: calc(var(--eight-units) * 2);
	}

	.awards ul:nth-child(3) {
		margin-top: var(--four-units);
	}

	.about-heading {
		grid-column-start: 3;
		grid-column-end: 4;
	}

	.about-block {
		grid-column-start: 4;
		grid-column-end: 10;
	}

	.italic {
		font-family: var(--untitled-ita) !important;
	}

	.italic::after {
		content: '\A ⇲';
		white-space: pre;
	}

	.about-content .about-block:nth-child(3) {
		grid-column-start: 5;
	}

	.about-content .about-block:nth-child(4) {
		grid-column-start: 6;
	}

	.about-content .about-block:nth-child(5) {
		grid-column-start: 7;
	}

	.about-content .about-block:nth-child(8) {
		grid-column-start: 5;
	}

	.experience-heading {
		grid-column-start: 4;
		grid-column-end: 4;
	}

	.experience-row {
		grid-column-start: 4;
		grid-column-end: 6;
	}

	.list-break {
		margin-top: var(--four-units);
	}

	.award-set {
		// margin-top: calc(var(--eight-units) * 2);
		grid-column-start: 5;
		grid-column-end: 12;
	}

	.margin-top-sixteen {
		margin-top: calc(var(--eight-units) * 2);
	}

	.margin-left-four {
		margin-left: calc(var(--unit) * 4);
	}
	.margin-left-six {
		margin-left: calc(var(--unit) * 6);
	}
	.margin-left-twelve {
		margin-left: calc(var(--unit) * 12);
	}
	.margin-left-twenty {
		margin-left: calc(var(--unit) * 20);
	}
}

@mixin tablet {
}

@mixin mobile {
	.about-content,
	.experience,
	.awards {
		display: flex;
		flex-direction: column;
	}

	.about-block {
		margin-top: var(--eight-units);
	}

	.about-content .about-block:nth-child(2),
	.about-content .about-block:nth-child(7) {
		margin-top: 0;
	}

	.about-content p:nth-child(6) {
		margin-top: calc(var(--eight-units) * 2);
	}
}
