// Colors
$orange: #ff4848;
$black: #121714;
$grey: #5e5e61;
$white: #ffffff;

@mixin orange {
  color: $orange !important;
}

@mixin black {
  color: $black !important;
}

@mixin white {
  color: $white !important;
}

@mixin grey {
  color: $grey !important;
}

@mixin display-stroke {
  -webkit-text-stroke-color: $orange !important;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
}

@mixin text-stroke {
  -webkit-text-stroke-color: $black;
}

@mixin text-fill {
  -webkit-text-fill-color: $black;
}
