@mixin desktop {
  .copy-module {
    margin: 0 1vh 0 1vh;
    height: fit-content;
    padding: 10vh 0 15vh 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    flex-basis: 33%;

    div {
      width: 33%;
      max-width: 33%;
      margin-bottom: 0 !important;
    }

    .project-title {
      width: 100%;
      max-width: 100%;
    }

    div .eyebrow {
      margin: 16px 0 0 0 !important;
      color: var(--dark-grey);
    }
  }
}

@mixin tablet-portait {
  .copy-module {
    margin: 0 1vh 0 1vh;

    flex-direction: row;
    flex-basis: 50%;

    .spacer {
      display: none;
    }

    div {
      width: 50%;
      max-width: 50%;
    }

    .project-team {
      margin-left: 50%;
    }
  }
}

@mixin mobile {
  .copy-module {
    margin: 0 8px 0 8px;

    flex-direction: column;
    flex-basis: 100%;

    div {
      width: 100%;
      max-width: 100%;
    }

    .spacer {
      display: none;
    }

    .project-team {
      margin-left: 0;
      width: 88%;
      max-width: 88%;
    }
  }
}
