@mixin desktop {
  .footer-container {
    position: relative;
    bottom: 0;
    margin: var(--content-margin);

    div:nth-child(1) {
      transform: translate(0, 20%);
      border-top: 1px var(--dark-grey);
      border-top-style: dotted;
    }
  }

  .clock-container {
    pointer-events: none;

    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    z-index: 1;

    .NYCtime {
      // IDs the NYC element
    }

    .SYDtime {
      // IDs the SYD element
    }

    h1 {
      box-sizing: border-box;
      overflow: hidden;
    }
  }
}

@mixin tablet-portait {
}

@mixin mobile {
}
