@use "layoutUtils";

@mixin desktop {
  .footer-container {
    height: fit-content;
    display: flex;
    flex-direction: column;

    div:nth-child(1) {
      /* NYC Clock container */
      transform: translate(0, 20%);
      margin-top: -6%;
    }
  }

  .clock-container {
    overflow: hidden;

    pointer-events: none;
    position: relative;
    width: 100%;

    z-index: 1;

    h1 {
      box-sizing: border-box;
      overflow: hidden;
    }
  }

  .clock-wrapper {
    width: 100%;
  }

  .cityName {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: var(--four-units);

    ::after {
      font-family: Arial, Helvetica, sans-serif !important;
      content: ' ●' !important;
    }
  }

  .open::after {
    -webkit-text-fill-color: var(--purple);
    font-family: Arial, Helvetica, sans-serif !important;
    content: ' ●' !important;
  }
}

@mixin tablet {
  .cityName {
    padding-top: var(--four-units);
  }
}

@mixin mobile {
}
