@mixin desktop {
  .footer-container {
    position: relative;
    bottom: 0;
    margin: 24vh var(--content-margin) 0 var(--content-margin);
  }

  .social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    z-index: 2;
  }

  .clock-container {
    pointer-events: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;

    h1 {
      box-sizing: border-box;
      overflow: hidden;
    }
  }
}

@mixin tablet-portait {
}

@mixin mobile {
}
