@mixin desktop {
	@keyframes fadein {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

	#shaderBG {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100vmax;
		height: 100vmax;

		animation-duration: 5s;
		animation-name: fadein;

		pointer-events: none;
		z-index: 0;

		transition-delay: 500ms;
		transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
	}
}
