@use "layoutUtils";

@mixin desktop {
  .home-branding {
    height: calc(100vh - var(--eight-units));
    width: 100%;
  }

  .title-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .content {
    @include layoutUtils.desktop-grid;

    width: 100%;
    top: 10%;
    transform: translate(0, 10vh);

    z-index: 2;
  }

  .home-branding-row {
    display: block;
  }

  /* I've worked across... */
  .home-branding-row:nth-child(1) {
    padding-top: var(--top-padding);
    grid-column-start: 3;
  }

  /* I've worked across... */
  .home-branding-row:nth-child(2) {
    grid-column-start: 4;
  }

  /* I’m currently a Design Director... */
  .home-branding-row:nth-child(3) {
    grid-column-start: 5;
  }
  .home-branding-row:nth-child(1),
  .home-branding-row:nth-child(2),
  .home-branding-row:nth-child(3) {
    grid-column-end: 12;
  }

  .branding {
    position: relative;
    padding-top: calc(var(--navbar-height) - var(--four-units));
    color: var(--white);
  }
}

@mixin tablet {
  .branding {
    padding-top: calc(var(--eight-units));
  }

  .row:nth-child(2),
  .row:nth-child(3) {
    margin-top: var(--four-units);
  }

  .row:nth-child(1) {
    grid-column-end: 12;
  }

  // I've worked across...
  .row:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 9;
  }
}

@mixin mobile {
}
