@mixin desktop {
	@keyframes fadein {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

	#shaderBG {
		mix-blend-mode: color-dodge;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100vmax;
		height: 100vmax;

		animation-duration: 5s;
		animation-name: fadein;

		pointer-events: none;
		z-index: 0;
	}
}
