@use 'layoutUtils';

@mixin desktop {
	.home-branding {
		height: 44vh;
		display: inline-block;
		width: 100%;
		z-index: 2;
	}

	.title-wrapper {
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
	}

	.main-logo {
		display: block;
		padding-top: var(--two-units);
		width: 100%;
		img {
			width: 100%;
		}
	}

	.home-branding-content {
		@include layoutUtils.desktop-grid;
		z-index: 2;
		width: 100%;

		/* I've worked across... */
		:nth-child(1) {
			text-align: left;
			grid-column-start: 1;
			grid-column-end: 6;
		}
	}

	.home-branding-row {
		display: block;
		z-index: 2;
		width: 100%;
	}

	.branding {
		padding-top: var(--two-units);
		position: relative;
		// transform: translate(0px, calc(var(--four-units) * -1));
		color: var(--white);
	}

	.touch-branding {
		display: none;
	}
}

@mixin touch-device {
	.branding {
		padding-top: var(--two-units);
		text-align: left;
	}

	.touch-branding {
		display: block;
	}

	.main-logo {
		display: none;
	}
}

@mixin tablet {
	.home-branding-content {
		/* I've worked across... */
		:nth-child(1) {
			grid-column-start: 1;
			grid-column-end: 10;
		}
	}
	@include touch-device;
}

@mixin mobile {
	.home-branding {
		height: 84vh;
	}

	.home-branding-content {
		display: flex;

		/* I've worked across... */
		:nth-child(1) {
			grid-column-start: 1;
			grid-column-end: 12;
		}
	}
	@include touch-device;
}
