@mixin desktop {
  .home-copy-module {
    display: grid;
    grid-column-gap: 24px;
    column-gap: 24px;
    grid-template-columns: repeat(12, 1fr);
    /* top | right | bottom | left */
    margin: 0 var(--content-margin) 0 var(--content-margin);
  }

  .home-copy-row {
    display: block;
    z-index: 2;
  }

  .home-copy-row:nth-child(1),
  .home-copy-row:nth-child(2),
  .home-copy-row:nth-child(3) {
    padding-top: var(--topBottom-margin);
  }

  // Past clients...
  .home-copy-row:nth-child(1) {
    grid-column-start: 4;
    grid-column-end: 7;
  }
  // Phase...
  .home-copy-row:nth-child(2) {
    grid-column-start: 5;
    grid-column-end: 9;
  }
  // Acknowledgement...
  .home-copy-row:nth-child(3) {
    padding-top: calc(var(--topBottom-margin));
    grid-column-start: 6;
    grid-column-end: 13;
  }
}

@mixin tablet {
  .home-copy-row:nth-child(3) {
    padding-top: calc(var(--topBottom-margin));
  }

  .home-copy-row:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 7;
  }
  .home-copy-row:nth-child(2) {
    grid-column-start: 6;
    grid-column-end: 13;
  }
}
