@mixin desktop {
  .letter-container {
    pointer-events: none;
    height: calc(100vh - var(--eight-units)) !important;
    width: calc(100vw - var(--eight-units)) !important;
    margin: 0 var(--four-units) !important;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-basis: 50%;

    // Setting with Semplice Helpers
    // position: fixed !important;
    // top: 0;
    // left: 0;
    filter: contrast(0.65);
  }

  .letter {
    width: calc(50vw - var(--eight-units));
    height: inherit;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 0;
  }

  .letter:nth-child(1) {
    left: 25%;
  }

  .letter:nth-child(2) {
    left: 75%;
  }

  .letter img {
    height: calc(72vh - var(--eight-units));
  }
}

@mixin tablet {
  .letter-container {
    flex-direction: column;
  }

  .letter:nth-child(1) {
    justify-content: flex-end;
  }

  .letter:nth-child(2) {
    justify-content: flex-start;
  }

  .letter {
    width: calc(100vw - var(--eight-units));
    height: 50vh;
  }

  .letter img {
    height: calc(50vh - var(--eight-units));
  }
}

@mixin mobile {
}
