@use "layoutUtils";

@mixin img-settings {
  a h1 {
    margin-bottom: 10%;
  }

  a img {
    filter: saturate(110%);
    position: relative !important;
    opacity: 0.9;
    left: 0%;
    // transform: translate3d(-33%, 0%, 0);
  }
}

@mixin desktop {
  .list-container {
    display: block;
    margin: 10vh var(--four-units) 0 var(--four-units);
    width: calc(100vw - var(--eight-units));
  }

  .list-heading,
  .list {
    @include layoutUtils.desktop-grid;
  }

  .list-heading {
    h1 {
      grid-column-start: 6;
      grid-column-end: 12;
    }
  }

  .list {
    a {
      width: fit-content;
      display: block;
      grid-column-start: 4;
      grid-column-end: 11;
      color: var(--white);
      -webkit-text-fill-color: var(--white);
      z-index: 1;
    }

    a h1 {
      overflow: hidden;
    }

    a h1 span::after {
      color: var(--white);
      content: '→' !important;
    }

    a:hover {
      -webkit-text-stroke-width: var(--display-stroke-w);
      -webkit-text-fill-color: transparent;

      transition: -webkit-text-fill-color 0.5s;
      z-index: 3;
    }

    a:hover img {
      filter: saturate(110%);
      opacity: 0.99;
    }

    /*   The animation settings in Semplice will adjust the placement of the image */
    a img {
      opacity: 0;
      position: fixed !important;
      // top: 50%;
      // left: 50%;
      // transform: translate3d(-50%, -50%, 0);
      width: 65vw;
      /*   this will tell the browser to ignore any default mouse interactions on this img element */
      pointer-events: none;
      transition: opacity 0.2s ease-out;
    }

    span {
      position: relative;
      z-index: 1;
    }
  }

  .imageMoveOff {
    pointer-events: none;
    opacity: 1 !important;
    top: 50%;
    left: 0%;
    transform: translate3d(0px, 0px, 0px) !important;
  }

  .imageMoveOn {
    opacity: 0;
    top: 50%;
    left: 50%;
  }
}

@mixin tablet-portrait {
  .list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 0 0 0 !important;

    @include img-settings;
  }

  .list-heading h1 {
    grid-column-start: 4;
    grid-column-end: 12;
  }
}

@mixin tablet-landscape {
  .list {
    @include img-settings;
  }
}

@mixin mobile-portrait {
  .list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 44.7vh 0 0 0;

    @include img-settings;
  }
}

@mixin mobile-landscape {
  .list {
    @include img-settings;
  }
}
