@mixin desktop {
	.custom-nav-desktop,
	.nav-toggle {
		z-index: 10;

		position: fixed;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 0);
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: fit-content;

		/* top | right | bottom | left */
		margin: 0 0 var(--four-units) 0;

		border: 1px var(--white);
		border-style: solid;
		border-radius: var(--four-units);

		background-color: var(--black);

		transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1) !important;
	}

	.custom-nav-desktop {
		.custom-nav-item {
			/* top | right | bottom | left */
			margin: var(--two-units) 0 var(--two-units) var(--four-units);
		}

		:nth-child(3) {
			/* top | right | bottom | left */
			margin-right: var(--four-units);
		}
	}

	.nav-toggle,
	.custom-nav-touch {
		display: none;
	}

	.custom-nav-item {
		font-weight: normal;
		font-style: normal;
		font-size: var(--nav-size) !important;
		font-family: var(--untitled-reg);

		line-height: var(--nav-line) !important;
	}

	.custom-home {
		/* top | right | bottom | left */
		margin: 0 0 0 var(--four-units);

		img {
			transform: scale(0.8);
		}
	}

	/* Hide Show Nav classes */
	.hideNav {
		transform: translate(-50%, 200%);
		// transform: translateY(110%) !important;
	}

	.showNav {
		transform: translate(-50%, 0);
		// transform: translateY(0%) !important;
	}

	.nav-item.menu-item.current-menu-item {
		a {
			font-weight: normal !important;
			font-style: normal !important;
			font-family: var(--untitled-reg) !important;
			background-color: var(--white);
		}
		a span {
			color: var(--black) !important;
		}
	}
}

@mixin tablet {
}

@mixin mobile {
	/* To help override values + flexbox from Semplice */
	.menu-icon {
		margin: 8px 0 0 0;
	}

	.nav-toggle {
		display: flex;
		justify-content: space-between;
		width: calc(100% - var(--four-units));
		left: 0;
		transform: translate(0, 0);

		/* top | right | bottom | left */
		margin: 0 0 var(--two-units) var(--two-units);

		.custom-home {
			/* top | right | bottom | left */
			margin: 0 0 0 var(--two-units);
		}

		.custom-nav-item {
			/* top | right | bottom | left */
			margin: var(--two-units) var(--two-units) var(--two-units) 0;
		}
	}

	.custom-nav-touch {
		position: fixed;
		bottom: 0;
		left: 0;

		display: flex;
		justify-content: center;
		align-items: center;

		z-index: 8;
		width: 100%;
		height: 100vh;
		margin: 0 0 0 0;

		background-color: var(--black);
		transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1) !important;

		.custom-nav-item {
			/* top | right | bottom | left */
			margin: var(--two-units) var(--two-units) var(--two-units) 0;
		}
		transform: translate(0, 100%);
	}

	.custom-nav-desktop {
		display: none;
	}

	.mobile-nav-open {
		transform: translate(0, 0);
	}
}
