@mixin desktop {
	.custom-nav-desktop,
	.nav-toggle {
		z-index: 10;

		position: fixed;
		bottom: var(--four-units);
		left: 50%;
		transform: translate(-50%, 0);
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: fit-content;

		/* top | right | bottom | left */
		// margin: 0 0 var(--four-units) 0;

		border: 1px var(--white);
		border-style: solid;
		border-radius: var(--four-units);

		background-color: var(--black);

		transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1) !important;
	}

	.custom-nav-desktop {
		.custom-nav-item {
			/* top | right | bottom | left */
			margin: var(--unit) 0 var(--unit) var(--three-units);
		}

		:nth-child(1) {
			display: flex;
			align-items: center;
		}
	}

	.custom-nav-desktop a:nth-child(1) {
		margin-left: var(--three-units);
	}

	.custom-nav-desktop a:nth-child(2) {
		margin-left: var(--two-units);
	}

	.custom-nav-desktop a:nth-child(4) {
		margin-right: var(--three-units);
	}

	.custom-nav-desktop a img {
		transform: scale(0.8);
		margin-right: 0;
	}

	.current-item {
		text-decoration: line-through;
		pointer-events: none;
	}

	.nav-toggle,
	.custom-nav-touch {
		display: none;
	}

	.custom-nav-item {
		font-weight: normal;
		font-style: normal;
		font-size: var(--nav-size) !important;
		font-family: var(--untitled-reg);

		line-height: var(--nav-line) !important;
	}

	.custom-home {
		/* top | right | bottom | left */
		margin: 0 0 0 var(--four-units);
		padding-top: var(--unit);
		padding-bottom: var(--unit);
	}

	/* Hide Show Nav classes */
	.hideNav {
		transform: translate(-50%, 200%);
	}

	.showNav {
		transform: translate(-50%, 0);
	}

	.nav-item.menu-item.current-menu-item {
		a {
			font-weight: normal !important;
			font-style: normal !important;
			font-family: var(--untitled-reg) !important;
			background-color: var(--white);
		}
		a span {
			color: var(--black) !important;
		}
	}
}

@mixin tablet {
}

@mixin mobile {
	/* To help override values + flexbox from Semplice */
	.menu-icon {
		margin: 8px 0 0 0;
	}

	.nav-toggle {
		display: flex;
		justify-content: space-between;

		bottom: var(--two-units);
		left: var(--two-units);

		width: calc(50% - calc(5 * var(--half-unit)));
		// width: 50%;
		height: calc(9 * var(--unit));

		transform: translate(0, 0);
		/* top | right | bottom | left */
		// margin: 0 0 var(--two-units) var(--two-units);

		.custom-home {
			/* top | right | bottom | left */
			margin: 0 0 0 0;
			padding: 0 var(--three-units) var(--three-units) var(--three-units);
			height: 100%;
			width: 50%;

			img {
				transform: translateY(14px);
			}
		}

		.custom-nav-item {
			/* top | right | bottom | left */
			// margin: var(--two-units) var(--four-units) var(--two-units) 0;
			text-align: right !important;
			width: 50%;
			height: 100%;
			padding: var(--three-units) var(--three-units) var(--three-units) 0;
		}
	}

	.custom-nav-touch {
		position: fixed;
		bottom: 0;
		left: 0;

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;

		z-index: 9;
		width: 100%;
		height: 100vh;
		margin: 0 0 0 0;

		transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1) !important;

		-webkit-backdrop-filter: saturate(180%) blur(var(--unit));
		backdrop-filter: saturate(180%) blur(var(--unit));

		nav {
			position: absolute;
			z-index: 2; // relative to its parent
			bottom: 0;

			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			background-color: var(--white);
			border-radius: var(--two-units) var(--two-units) 0 0;

			height: 60vh;
			width: 100%;

			:nth-child(1) {
				margin-top: var(--four-units);
			}
		}

		.custom-nav-item {
			font-size: var(--display-size) !important;
			color: var(--black) !important;

			/* top | right | bottom | left */
			margin: 0 0 0 var(--four-units);
		}

		transform: translate(0, 100%);
	}

	.touch-menu-bg {
		width: 100%;
		height: 100vh;
		margin: 0 0 0 0;
		background-color: var(--black);
		opacity: 0.3;

		position: absolute;

		pointer-events: none;
	}

	.custom-nav-desktop {
		display: none;
	}

	.mobile-nav-open {
		transform: translate(0, 0);
	}

	.toggle-width {
		width: calc(100% - var(--four-units));
		background-color: var(--white);

		a {
			mix-blend-mode: difference;
			// color: var(--black) !important;
		}
	}
}
