@use '../breakpoints' as bp;
@use './partials/projectSequencer';
@use './partials/projectVideo';
@use './partials/projectCopy';

@mixin zero-margin-bottom {
	.semplice-cover .show-more svg {
		margin-bottom: 0px;
	}
}

@mixin project {

	@include projectVideo.projectVideo;
	@include projectSequencer.projectSequencer;
	@include projectCopy.projectCopy;

	.vsc-controller {
		display: none;
	}

	/* Parent section to Sticky Headers */
	/* Semplice Masonry Module */
	.image-section {
		margin: 0 0 0 0 !important;
		position: relative;
	}

	/* top | right | bottom | left */
	/* Semplice Masonry Module */
	.image-section-bottom {
		margin-top: 0;
	}

	/* Handles Project Cover Media – Fade in effect added w. JS */
	.project-cover {
		// Set to 0 or 1 depending on env
		// 0 for deploy, 1 for prototype testing
		opacity: 1;
		//
		display: flex;
		justify-content: flex-end;
		width: 100%;
		align-items: center;
		// this value is unique to Semplice deployment – doesn't work in prototype env.
		margin-top: calc(-100vh + var(--two-units));
		// 
		margin-bottom: 10vh;
		transition: 0.3s ease-in;
	}

	// Used as a workaround in the Mobile view to repostion the Semplice Show More button
	.showMoreMarker {
		pointer-events: none;
		z-index: 100;
		position: absolute;
		top: 25%;
		width: 100%;
		height: 50%;
		background: rgba(255, 69, 0, 0);
	}

	// A Display container is an "in-project" project cover i.e not the Cover
	.display-container {
		position: relative;
		top: 0;
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: row;
		// margin-bottom: 10vh;
	}

	.test-margin {
		margin-bottom: 50vh;
	}

	// Used for videos, and Displays; start of a project, end of a project, 
	.project-opener {
		margin-bottom: var(--half-unit);
	}

	.project-ender {
		margin-bottom: 10vh;
	}

	// Display for end of a page – adds extra height so footer isn't too close
	.page-end {
		margin-bottom: 36vh;
	}

	// Aligns Display visual left
	.display-align-left {
		justify-content: flex-start;
	}

	// Aligns Display visual right
	.display-align-right {
		justify-content: flex-end;
	}

	// Added as a effect by js/single-project.js > projectCoverInit()
	.project-cover-fade-in {
		opacity: 1 !important;
		transition: opacity 0.3s ease-in;
	}

	// semplice-cover may be from Semplice CMS or I've added it somewhere...
	.sections .semplice-cover {
		transition: height 0.3s ease-in !important;
	}

	/*----- Oscillating -----*/
	@keyframes move {
		to {
			transform: translate(calc(50vw - 100%));
		}
	}

	.semplice-cover .show-more {
		// setup for animation
		opacity: 1;
		pointer-events: all;
		border: 1px var(--white);
		border-style: solid;
		border-radius: 100%;
		// might solve the resize issue?
		position: fixed !important;
		// 
		background-color: transparent;
		mix-blend-mode: normal !important;
		margin-bottom: var(--four-units);

		right: var(--two-units);
		aspect-ratio: 1/1;
		width: 20% !important;
		justify-content: center !important;
		align-content: space-evenly;

		transition: all 0.3s ease-in !important;

		img {
			mix-blend-mode: normal !important;
			animation: 1s arrow-down infinite alternate ease-in-out;
			background-color: transparent !important;
			width: 70% !important;
		}
	}

	// Assists placement of the Semplice Show More button
	.show-more-hide {
		pointer-events: none !important;
		opacity: 0 !important;
	}

	.semplice-cover .show-more:hover {
		background-color: var(--white) !important;
		mix-blend-mode: difference !important;

		img {
			mix-blend-mode: difference !important;
		}
	}

	@keyframes arrow-down {
		0% {
			transform: translateY(0);
			opacity: 0.2;
		}

		80% {
			transform: translateY(8px);
			opacity: 0.9;
		}

		100% {
			transform: translateY(8px);
			opacity: 1;
		}
	}

	@include bp.down(md) {
		.project-cover {
			margin-top: -40vh;
		}

		.semplice-cover .show-more {
			height: 12%;
			padding: 24px !important;
			margin-bottom: var(--two-units);
			border-radius: var(--two-units) !important;

			img {
				height: 100% !important;
			}
		}
	}

	@include bp.down(sm) {

		.project-cover-fade-in {
			opacity: 0.9;
		}

		.page-end {
			margin-bottom: 36vh !important;
		}

		.project-ender {
			margin-bottom: 10vh;
		}

		.display-container {
			// testing for the custom version 
			position: relative;
			// 

			margin-bottom: var(--half-unit);
			width: calc(100vw - 32px);
			flex-direction: column;
		}

		.project-cover {
			margin-top: -58vh;
		}

		.semplice-cover .show-more {
			z-index: 9 !important;

			right: var(--two-units);

			width: calc(10 * var(--unit)) !important;
			height: calc(10 * var(--unit)) !important;

			padding: var(--two-units) !important;
			border-radius: 100% !important;
			margin-bottom: var(--two-units) !important;

			img {
				height: 100% !important;
			}
		}
	}
}