// All the CSS in here is drawn from Semplice

@mixin desktop {
	.transition-wrap {
		background-color: var(--black) !important;
	}

	#nprogress .bar {
		background-color: var(--light) !important;
<<<<<<< HEAD
		// height: 100vh !important;
=======
		height: 1vh !important;
		transform-origin: center !important;
>>>>>>> 332f408ff5d8ce860e336febd77eb35c0d9697b3
		mix-blend-mode: difference !important;
	}

	a.menu-icon.close-menu,
	a.menu-icon.open-menu {
		transform-origin: top left !important;
		transform: scale(0.75) !important;
	}

	/* Lightbox */
	.pswp__counter {
		padding: 1rem 0 0 1rem !important;
		font-size: 2rem !important;
		font-family: var(--untitled-reg) !important;
	}

	.pswp__button--arrow--left:before {
		background: url(https://andycatch.com/proto/wp-content/uploads/2021/11/LeftArrow.svg) no-repeat !important;
		left: 1rem !important;
	}

	.pswp__button--arrow--right:before {
		background: url(https://andycatch.com/proto/wp-content/uploads/2021/11/RightArrow.svg) no-repeat !important;
		right: 1rem !important;
	}

	.pswp__button--close {
		margin: 1rem 1rem 0 0 !important;
		background: url(https://andycatch.com/proto/wp-content/uploads/2021/11/Close.svg) no-repeat !important;
	}

	/* top | right | bottom | left */
	.pswp__button--fs {
		margin: 1rem 1rem 0 0 !important;
		background: url(https://andycatch.com/proto/wp-content/uploads/2021/11/Expand.svg) no-repeat !important;
	}

	.pswp__button--arrow--left:before,
	.pswp__button--arrow--right:before,
	.pswp__button--close,
	.pswp__button--fs {
		background-size: contain !important;
	}

	.sections {
		margin: 0 var(--two-units) var(--two-units) var(--two-units) !important;
		overflow-x: visible !important;
		overflow-y: visible !important;
	}

	#content-holder .is-content p {
		margin-bottom: 0;
	}

	// .is-content p,
	.is-content h1 {
		margin-bottom: 0 !important;
	}

	.fixed-section {
		width: 100%;
		height: 100%;
		position: fixed !important;
		left: 0 !important;
		top: 0 !important;
		pointer-events: none;
		z-index: 0;
	}

	// #overlay-menu .logo a {
	// 	color: var(--background) !important;
	// 	transform: color !important;
	// 	transition-timing-function: ease-out !important;
	// 	transition: 0.4s !important;
	// }

	// #overlay-menu .hamburger span {
	// 	background: var(--background) !important;
	// 	transform: background !important;
	// 	transition-timing-function: ease-out !important;
	// 	transition: 0.4s !important;
	// }

	/* Back to Top  */
	.back-to-top {
		mix-blend-mode: difference !important;
		bottom: var(--four-units) !important;
		right: var(--two-units);
		width: calc(16 * var(--unit));
		height: calc(16 * var(--unit));

		a {
			height: 100%;
			text-align: center;
			padding: 0 !important;
			border: 1px solid var(--light) !important;
			border-radius: 50% !important;
			background-color: var(--light);
			transition: all 0.2s ease-in !important;
		}

		a img {
			filter: invert(1);
			padding-top: var(--two-units) !important;
			width: 4.2rem !important;
		}
	}

	.back-to-top a:hover {
		background-color: var(--social-hover);
		border-color: var(--social-hover) !important;
	}

	.back-to-top a img:hover {
		filter: invert(0);
	}
}

@mixin tablet {
	.back-to-top {
		a {
			height: 120px !important;
			padding: 24px !important;
			border-radius: var(--two-units) !important;
		}

		a img {
			width: 100% !important;
			height: 100% !important;
		}
	}

	#overlay-menu .container-fluid {
		display: flex !important;
		flex-wrap: nowrap;
		flex-direction: row;
		flex-basis: 50%;
		flex-grow: 1;

		.nav-item {
			padding-left: var(--three-units);
			margin-top: 73vh;
		}

		.nav-item a {
			height: 100%;
		}

		.nav-item:nth-child(1) {
			margin-right: var(--unit);
			margin-left: var(--two-units);
		}

		.nav-item:nth-child(2) {
			margin-right: var(--two-units);
		}
	}
}

@mixin mobile {
	.back-to-top {
		width: calc(10 * var(--unit));
		height: auto !important;
		bottom: var(--two-units) !important;
		mix-blend-mode: normal !important;
		z-index: 7 !important;

		a {
			aspect-ratio: 1 / 1;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: right;
			background-color: var(--light);
			height: calc(10 * var(--unit)) !important;
		}

		a img {
			padding-top: 0 !important;
			width: 2rem !important;
		}
	}
}