@mixin desktop {
	.social-links {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;

		position: relative;

		/* top | right | bottom | left */
		width: 100%;
		margin: 60vh 0 0 0;

		.bottom-year {
			display: block;
		}

		a {
			aspect-ratio: 1 / 1;
			display: flex;
			align-items: center;

			font-family: var(--untitled-reg) !important;
			margin-right: var(--unit);
			padding: var(--half-unit) var(--unit) var(--half-unit) var(--unit);
			border-style: solid;
			border-radius: var(--four-units);
			color: var(--black) !important;
			background-color: var(--light);
			transition: all 0.2s ease-in !important;
		}

		a:hover {
			color: var(--light) !important;
			background-color: var(--social-hover);
		}

		a:hover::after {
			color: var(--white);
			transition: all 0.2s ease-in !important;
		}
	}

	.social-links a:nth-child(1) {
		margin-left: var(--three-units);
	}
}

@mixin tablet {
	.social-links {
		justify-content: flex-start;

		:nth-child(1) {
			padding: 0 var(--unit) 0 0;
		}

		a {
			padding: 0 var(--unit) 0 var(--unit);
		}
	}
}

@mixin mobile {
	.social-links {
		flex-direction: row;
		padding-bottom: 0;
		align-items: flex-start;
		margin-top: 66vh;

		.bottom-year {
			display: none;
		}

		a {
			margin-bottom: var(--unit);
			margin-right: var(--unit);
		}
	}
}
