@mixin desktop {
  .social-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;

    /* top | right | bottom | left */
    width: calc(100vw - var(--eight-units));
    margin: 60vh var(--four-units) 0 var(--four-units);

    div {
      z-index: 3;
    }

    div a {
      padding-right: calc(var(--body-size) + 18px);
      border: 0px var(--white);
      border-style: solid;
      border-radius: var(--border-radius);
    }

    div a::after {
      font-family: Arial, Helvetica, sans-serif !important;
      color: var(--white);
      content: ' ●' !important;
    }

    div a:hover {
      color: var(--black);
      background: var(--white);
      transition: all 0.2s ease-in !important;
    }

    div a:hover::after {
      color: var(--black);
      transition: all 0.2s ease-in !important;
    }
  }
}

@mixin tablet {
}

@mixin mobile {
}
