@mixin desktop-p-styles {
  // These need !important to override Semplice
  font-family: var(--untitled-reg);
  font-size: var(--body-size) !important;
  line-height: var(--body-line) !important;
  text-align: left;

  color: var(--white);

  z-index: 2;
}

@mixin desktop-type-stack {
  .display-size {
    font-size: var(--display-size) !important;
    line-height: var(--display-line);
  }

  .clock-size {
    font-size: var(--clock-size);
    line-height: var(--clock-line);
  }

  .outlined,
  .clock-style {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: var(--display-stroke-w);
  }

  .outlined {
    color: var(--white);
  }

  .clock-style {
    color: var(--purple);
  }

  h1 {
    font-family: var(--beastly);
    font-size: var(--subHead-size);
    line-height: var(--subHead-line);
  }

  .nav-size {
    font-family: var(--untitled-ita);
    font-size: var(--nav-size) !important;
    line-height: var(--nav-line) !important;
  }

  ul,
  p {
    @include desktop-p-styles;
  }

  a {
    @include desktop-p-styles;
    text-decoration: none;
    transition: color 0.5s ease-out !important;
  }

  a:hover {
    color: var(--orange);
    transition: color 0.5s ease-out !important;
  }

  .currentYear {
    @include desktop-p-styles;
  }
}

@mixin tablet-type-stack {
}

@mixin mobile-type-stack {
  h1 {
    font-size: 40px !important;
  }
}
