@mixin desktop {
  .work-index-section {
    width: calc(100vw - var(--leftRight-margin));
    margin: 0 var(--content-margin);

    h1 {
      z-index: 0;
    }

    a.none {
      pointer-events: none;
    }
  }

  .index-items {
    margin-top: calc(var(--content-margin) * 3);

    a {
      border-top: 1px solid;
      display: block;
      width: 100%;
      position: relative;
    }

    .image-set-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      padding-bottom: var(--content-margin);
    }

    .image-set {
      clear: both;
      display: block;
      float: left;
      width: fit-content;
      position: relative !important;
    }
  }

  .index-item-wrapper {
    display: grid;
    grid-template-columns: 2fr 3fr 6fr 5fr;
    padding-bottom: calc(var(--unit) * 2);

    div {
      z-index: 3;
      font-size: var(--nav-size);
    }

    .arrow-item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .small {
    opacity: 1;
    width: 6vw !important;
    position: relative;
    float: left;
    margin-right: calc(var(--content-margin) / 8);
    z-index: 1;
  }

  // .index-item-wrapper (labels) = 3
  // .large z-Index = 2
  // .small z-Index = 1

  .large {
    width: 65vw !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed !important;
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    transition: opacity 0.2s ease-in;
  }
}

@mixin tablet {
}

@mixin mobile {
}
