@mixin desktop {
	.work-index-section {
		width: 100%;

		h1 {
			z-index: 5;
			position: relative;
		}
	}

	.index-items {
		margin-top: 35vh;
		// margin-bottom: 35vh;
	}

	.index-item {
		margin-bottom: var(--four-units);
		color: var(--white);
		font-family: var(--untitled-reg);
		z-index: 1;
		position: relative;

		a {
			font-family: var(--untitled-ita);
		}

		a.none {
			pointer-events: none;
		}

		transition: all 0.2s ease-in !important;
	}

	.imageSets-container {
		pointer-events: none !important;
		display: flex;
		flex-direction: row;
	}

	.image-set-wrapper {
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
	}

	.image-set {
		display: block;
		width: fit-content;
		position: relative !important;
		margin-right: var(--half-unit);
		margin-top: var(--half-unit);
	}

	.index-item-info {
		border-top: 1px solid;
		display: grid;
		grid-template-columns: 6fr 3fr 3fr;
		padding-bottom: var(--unit);

		pointer-events: none;

		font-size: var(--nav-size);

		div {
			z-index: 5;
		}

		:nth-child(4) {
			text-align: right;
		}
	}

	.description-wrapper {
		display: flex;
		flex-direction: row;
	}

	.numImages {
		font-family: var(--untitled-ita);
	}

	.numImages::before {
		content: '(';
	}

	.numImages::after {
		content: ')';
	}

	.thumbBg,
	.touchCover {
		pointer-events: none;
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		opacity: 0;
		background-color: var(--black);
		transition: opacity 0.2s ease-in;
	}

	.thumbBg {
		visibility: visible;
	}

	.touchCover {
		z-index: 2;
	}

	.caption {
		color: var(--white) !important;
		text-align: center;
		font-family: var(--untitled-ita);
		position: fixed !important;
		z-index: 3;
		bottom: var(--four-units);
		left: 50%;
		opacity: 0;
		transition: opacity 0.2s ease-in;
	}

	.close {
		position: fixed;
		display: none;
		opacity: 0;
		color: var(--black);
		// border: 1px var(--black);
		// border-style: solid;
		z-index: 8;
		transition: opacity 0.2s ease-in;

		bottom: 0px;
		right: 0px;
		height: calc(9 * var(--unit));
		padding: var(--two-units);
		border-radius: var(--four-units);
		margin-bottom: var(--two-units);
		margin-right: var(--two-units);
		width: calc(25% - var(--unit));
		background-color: var(--white);

		img {
			margin-top: calc(var(--half-unit) / 2);
			mix-blend-mode: difference;
			width: 100%;
			height: auto;
			vertical-align: bottom;
			max-width: 100%;
			transform-origin: center;
			transform: translate(0px, calc(var(--unit) * -1)) scale(0.75);
		}
	}

	.showClose {
		display: block;
		opacity: 1;
	}

	.small {
		opacity: 1;
		width: 5.5vw !important;
		background-size: cover;
		background-position: center;
		aspect-ratio: 16/9;
		// height: auto;
		position: relative;
		// margin-right: calc(var(--unit) / 2);
		// margin-top: calc(var(--unit) / 2);
		transition: all 0.2s ease-in;
		z-index: 1;
	}

	// .index-item-info (labels) = 3
	// .heading z-index = 3;
	// .close z-index = 3
	// .large z-Index = 3
	// .caption z-Index = 3
	// .cover z-index = 2
	// .small z-Index = 1
	.large {
		pointer-events: none;
		width: 65vw;
		background-size: cover;
		background-position: center;
		aspect-ratio: 16/9;
		top: 50%;
		right: 0;
		position: fixed !important;
		opacity: 0;
		transition: opacity 0.2s ease-in;
		z-index: 3;
		transform: translate3d(0, -50%, 0);
	}
}

@mixin tablet {
	.index-items {
		margin-top: 33vh;
		margin-right: unset;

		a {
			pointer-events: none !important;
		}
	}

	.imageSets-container {
		flex-direction: column;
	}

	.index-item-info {
		grid-template-columns: 2fr 2fr 3fr 0fr;

		div {
			font-size: var(--body-size);
		}
	}

	.image-set-wrapper {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		width: 100%;
	}

	.large {
		width: calc(100vw - var(--eight-units));
	}

	.small {
		padding: 0 calc(var(--unit) / 2) calc(var(--unit) / 2) calc(var(--unit) / 2);
		width: 24vw !important;
	}

	.thumbBg {
		visibility: hidden;
	}
}

@mixin mobile {
	.index-item-info {
		display: flex;
		flex-direction: column;
		border-top: 1px solid;

		div {
			border-top: 0px solid;
		}
	}

	.caption {
		bottom: 28%;
		left: var(--two-units);
		width: calc(100% - var(--four-units));
	}

	.index-item-info :nth-child(4) {
		text-align: left;
	}

	.image-set {
		width: calc(33 - var(--half-unit)) !important;
	}

	.image-set-wrapper {
		width: 100%;
	}

	.small {
		width: calc(33vw - var(--two-units)) !important;
	}

	.thumbBg {
		visibility: hidden;
	}

	.large {
		width: 100%;
		top: 37%;
	}
}
